html {
    background: transparent url('images/bg-top.png') repeat-x 0 0;
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana;
    font-size: 13px;
    margin: auto;
    padding: 0;
    width: 800px;
}

h2 {
    font-size: 2em;
    font-weight: normal;
    line-height: 1.385em;
    margin: 0 0 0.692em;
}

h3 {
    font-size: 1.538em;
    font-weight: normal;
    line-height: 1.35em;
    margin: 0 0 0.45em;
}

a {
    color: #0678BE;
    text-decoration: none;
}

.header {
    height: 150px;
    margin: auto;
    width: 800px;
}

.header h1 {
    background: transparent url("images/sprites-localize.png") no-repeat 0 0;
    height: 63px;
    overflow: hidden;
    text-indent: -999em;
    width: 413px;
}

.project .entry-wrapper {
    text-align: center;
}

.project .entry {
    display: inline-table;
    font-size: 16px;
    font-style: italic;
    padding-right: 18px;
    position: relative;
    margin: auto auto 1em;
    text-align: center;
}
.project .entry .top,
.project .entry .bottom {
    background: transparent url('images/quote.png') no-repeat 0 0;
    display: block;
    float: left;
    height: 15px;
    margin-left: -20px;
    width: 15px;
}

.project .entry .bottom {
    background: transparent url('images/quote_r.png') no-repeat 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.project div.entry .amp {
    font-size: 40px;
    vertical-align: middle;
}

ul li.warning {
    list-style-image: url('images/warning.png');
}

ul li.success {
    list-style-image: url('images/ok.png');
}
