<h3>Translation report for project <em>{{ project_title }}</em> </h3>
<p>We generated for you a report based on an analyze of the strings in your module.

This report is there in order to ease the work of the translation teams, they often bump into strings that are really alike (for instance the same sentence with a period at the end or not) and have to translate them twice!<br />
"We hope that you will use this report to unify those strings.</p>
<p>Here is a list of strings that we identified to be really close or that sounds really alike.</p>

{% for key, similar_set in project_data %}
    {% if similar_set|length > 0 %}
        {% for identical in similar_set %}
            <blockquote><em>{{ identical[0] }}</em> & <em>{{ identical[1] }}</em></blockquote>
        {% endfor %}
    {% endif %}
{% endfor %}
