<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Localize Parser</title>
    <link href="{{ app.request.basepath }}/css/file.css" rel="stylesheet" media="all" />
</head>
<body>
<div class="header">
    <h1>Localize Parser</h1>
</div>
<div class="content">
    <div class="data">
        <h2>Welcome to Localize Parser</h2>
        <p>
            This project is targeting <a
            href="http://drupal.org">drupal.org</a>, its purpose is to generate
            translations similarity reports. It's supposed to help maintainers
            ease translators' life by providing them the list of strings that
            are similar (or sound similar).
        </p>
        <p>
            To start analyzing, click <a href="/process/0/5">here</a> to start a
            batch, or manually analyze a single project, for example <a
            href="/module/commerce">Commerce</a> module.
        </p>
    </div>
</div>
</body>
</html>
